<a href="{% url 'store:medicine_list' %}?category={{ category.slug }}" class="category-card">
    <div class="category-icon">
        <img src="{{ category.display_image }}" alt="{{ category.name }}" loading="lazy" onerror="this.style.display='none';this.nextElementSibling.style.display='flex';" />
        <span style="display:none">{{ category.name|slice:"0:1" }}</span>
    </div>
    <span class="category-name">{{ category.name }}</span>
    <span class="category-arrow"><i class="fas fa-arrow-right"></i></span>
</a>
